{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>About Hippocampus</h2>
     <p>Hippocampus is less about search and more about research. Research comprises "creative work undertaken on
            a systematic basis in order to increase the stock of knowledge, including knowledge of humans, culture and 
            society, and the use of this stock of knowledge to devise new applications." According to Hippocampus Chairman, 
            Found and CEO Yussuf, "people don't do what we expect, they do what we inspect." We help new authors research 
            "PREVIOUS WORKS" or "ADAPTATIONS" similar work to theirs in the library. Hippocampus website measures impact
            in The Literature Group, owner of the Literature magazine, Economist Quarterly and Author Intelligence Unit.
        </p>
        
        <p>A lot of librarians know a tone about research, because it's been their world they lived in for the past 5000yrs. 
            Go to any library and some librarian has thought carefully on how to create a handmade research experience for 
            patrons. Patrons walk in, they want a book, and there are book classifications organized by category! 
            Patrons check out a title and the librarian has a author signing promotion for you. The librarian has expressed
            their opinion on what patrons want to experience and they crafted a physical environment just to make it happen.
            Patrons don't have to research for content. Just like new authors need not research previous works similar work to
            theirs.
        </p>
        
        <p>The librarian has anticipated what patrons are interested in and they give it to them right when they need it. The
            librarian has thought carefully about the whole set, the whole selection of knowledge. That's going to make the 
            experience really special for patrons. Research happens literally everyday in libraries. But, today it's largely an
            unsolved problem online. That's the problem Hippocampus want's to solve. 
        </p>
        
        <p>So, how did we get here? About 6 months ago we didn't have a grand vision of filling up auditorium full of really smart
            librarians. But, we wanted to solve another problem that we really felt was online. We wanted to bring the library's 
            selections, which was something we do today, and put them on the internet intelligently. Selections are a way of 
            organizing our world around us and making sense of it. We don't select books arbitrarily. We think meticulously on 
            how were going to put this together! Who will I share it with? What does this say about me? Who better to help 
            than a librarian? When librarians have a set of books they organize it by author name, dewey decimal, and 
            demographic. The librarians think about what are people who come to our library will think of us?
        </p>
        
        <p>So, Hippocampus's first feature is designed to let librarians copy catalog their book selection and show them as content 
            to patrons. Hippocampus let you, the librarian, create campus square, or field of study, of book object and it lets them 
            add it to a selection.That selection can be organized by topic. In this case it's called Non-Fiction Nature Sciences 
            and Mathematics (Dewey Decimal Classification 500s). 
        </p>

        <p>Librarians can show this selection to patrons researching a campus square, or field of study. The magical thing about putting 
            books online is that it becomes links to all sorts of interesting campus squares, or field of studies. So, with the librarian's 
            selection, patrons can go and actually see all related research campus squares on a board. Patrons can see all the other boards that a 
            particular selection has that research campus square in. That's the way patrons start researching for a book they will be writting. 
            This feature is the ability to see all patrons that are related to exactly what patrons want. Then the ability to click through and 
            get back to that book so patrons can take action on it. That's what makes Hippocampus special.
        </p>

        <p>What we learned that was the inspiring thing about book selections was is not just seeing library selection up all alone for patrons
            to see. But, to see all the other patrons that are researching the very thing librarians have campus square, or field of study. 
            See all the other patrons researching in Victorian age information revolution. See all other librarians that have the exact 
            campus square, or field of study on that topic. To see all other librarians researching in that campus square, or field of study. 
            That was our first insight. 
        </p>

        <p>Hippocampus is a tool to organize librarian book selection in away that makes sense to them by field of study, by project, or by passion. In doing
            so they organize those books in a way that's really meaningful for new authors. Just by doing something librarians love can inspire new authors.
            Librarians plug themselves into a network of like minded people help organize things in a way that makes researching really easy. 
        </p>

        <p>On Hippocampus people are organizing literature content at a massive scale. In doing so they're making libraries a place that was built with queries
            and catalog cards much more human, much more accessible, and much more researchable everyday. We realized as powerful it is to index all library catalogs
            in the world. Then match them up with campus squares, or field of studies. We can augment that by letting people organize their book selection themselves. Think of Hippocampus 
            more like research. If Google's core value proposition is to organize things by text queries. Hippocampus core value proposition is to let librarians organize selection content by
            campus square, or field of study, and for every librarians that care to have items or services found by patrons who's reseaching what they are doing in their life. 
            Hippocampus can be a powerful tool to help literature.
        </p>
        
        <p>What we realized was Hippocampus is that we let librarians organize literature into campus square, or field of study. This is Alexandria a Master of Science in Library Science 
            and a member of our society. Her campus square or field of study is in law and she also into natural science and mathematics. She put all her books selection online. 
            As soon as we put it inside of Hippocampus. Alexandria was able to find other librarians that share her particular campus square or field of study. What we found out was those librarians 
            weren't the same librarians she happened to be colleague with in the real world. 
        </p>
        
        <p>There are lots of different social networks. There is social networks based upon who you went to school with. There are networks based on who you work with. But,
            there were not networks based upon people that share field of study you do. Hippocampus connects librarians that share field of studies and that set of connects
            between librarians, their field of study, and other new authors that share their field of study. Is what we call "The Orbital Cortex."
        </p>

    </div>
  </main>
{% endblock %}